doctype html
html
    head
        title User Auth
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/style.css')

    body
        .container
            a(href="/") Home
            block content