extends layout

block content
    h2 Log in

    if (message != '')
        .alert.alert-danger #{message}

    form(action="/login", method="post")
        div.form-group
            label.form-check-label Username:
            input.form-control(type="text", name="username")

        div.form-group
            label.form-check-label Email:
            input.form-control(type="email", name="email")

        div.form-group
            label.form-check-label Password:
            input.form-control(type="password", name="password")

        div.form-group
            input.btn.btn-primary(type="submit", value="Log In")